body{
    font-family: 'Poppins', sans-serif;
}

/* 1st section start..... */

.container{

    padding: 0;
    margin: 0 auto;
    width: 90%;

}

.first-section{
    display: flex;
    margin-bottom: 150px;
   

}
.contain{
    width: 35%;
    margin-top: 10%;
    margin-right: 10%;

}
.hading{
    border-left: 5px solid ;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
    
   

}
.focused{
    font-family: 'Oxygen', sans-serif;

font-size: 60px;
font-weight: 700;
padding: 0 0 0 10px;
    margin: 0;

}
.mission{
    color: chocolate;
    font-size: 60px;
font-weight: 700;
padding: 0 0 0 10px;
    margin: 0;


}
.contain p{
    word-spacing: 2px;
    line-height: 1.5;
    font-size: 17px;
    margin-bottom: 36px;
    margin-top: 36px;
}
.contain a{
    text-decoration: none;
    color: cornsilk;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px; 
    
    
}
.contain a:hover{
    background-image: linear-gradient(tomato,orange);

}
.scroll{

    word-spacing: 2px;
    line-height: 1.5;
    font-size: 17px;
    margin-top: 40px;

}
.img{
    width: 30%;
    margin-left: 10%;

}
.img img{
    width: 100%;
    
}

/* 1st section end..... */
/* --------------------------------------------------- */

/* 2nd section start..... */

.second_section{
    margin-bottom: 150px;
}

.allbox{
    display: flex;
    margin-top: 100px;

}
.box1{
    box-shadow: 10px 10px 40px gray;
    width: 28%;
   background-color: rgb(173, 238, 238);
   border-radius: 25px;
   margin-right: 2%;
   padding: 30px;
   

}
.box2{
    box-shadow: 10px 10px 40px gray;
    width: 28%;
    background-color: rgb(238, 173, 173);
    border-radius: 25px;
    margin: 0 2%;
    padding: 30px;

}
.box3{
    box-shadow: 10px 10px 40px gray;
    width: 28%;
    background-color: rgb(198, 173, 238);
    border-radius: 25px;
    margin-left: 2%;
    padding: 30px;
   
    

}
.icon{
    width: 50%;

}
.icon img{
    width: 100%;

}
.text{
    width: 80%;

}
.text h2{
    font-weight: 900;

}
.text p{
    font-size: 17px;


}


/* 2nd section end..... */


/* 3th section start..... */
.thard-section{
    display: flex;
}
.image{
    width: 40%;
}
.image img{
    width: 100%;
}
.develop{

    width: 50%;
    margin: 5%;

}
.develop h1{
    font-size: 50px;
    font-weight: 900;
    padding: 0;
    margin: 0;

}
.develop p{
    word-spacing: 1.5px;
    line-height: 1.75;
    font-size: 18px;
    margin-bottom: 40px;
   

}
.develop a{

    text-decoration: none;
    color: cornsilk;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;

}

.develop a:hover{

    background-image: linear-gradient(tomato,orange);

}

/* 3th section end..... */